<%- include include/header.html%>
<div class="container index-show">
    <div class="row">
        <div class="col-lg-6">
            <div class="item" style="border-right:1px dashed #517482;">
                <a href="/users" class="img">
                    <img src="/images/chat.png" alt="Generic placeholder image" width="100%" height="100%">
                </a>
                <p>市民报料查看</p>
                <p><a class="btn btn-default" href="/users" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="item">
                <a href="/details" class="img">
                    <img src="/images/data.png" alt="Generic placeholder image" width="100%" height="100%">
                </a>
                <p>每日数据分析视图化</p>
                <p><a class="btn btn-default" href="/details" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <div class="col-lg-12 bann">
            <img src="/images/bak.jpg" >
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<%- include include/footer.html%>
</body>
</html>
