<%- include ../include/header.html%>
<style>
    body {
        background: #eee;
        word-wrap: break-word;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
</style>
<div class="container">
    <div class="es-section login-section">
        <div class="logon-tab clearfix">
            <a class="active">登录帐号</a>
            <a href="/users/reg">注册帐号</a>
        </div>
        <div class="login loginp">
            <span id="qqLoginBtn" ></span>
        </div>
    </div>
    <span style="display: none;color: #ff0000;" class="warning"></span>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101307254"  charset="utf-8" ></script>
<script type="text/javascript">
    QC.Login.signOut();
    var cbLogoutFun = function () {
        console.log("注销成功!");
    };
    var cbLoginFun = function(oInfo, oOpts){
        if(QC.Login.check()){
            QC.Login.getMe(function(openId, accessToken){
                var urltest = '/users/login';
                var url = '/users/login';
                $.post(urltest,{openId:openId},function(data){
                    var code = data.code;
                    if(code == 200){
                        console.log(200);
                        //根据返回数据，更换按钮显示状态方法
                        var dom = document.getElementById(oOpts['btnId']),
                                _logoutTemplate=[
                                    //头像
                                    '<span><img src="{figureurl}" class="{size_key}"/></span>',
                                    //昵称
                                    '<span>{nickname}</span>',
                                    //退出
                                    '<span><a href="javascript:QC.Login.signOut();">退出</a></span>'
                                ].join("");
                        dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
                                    nickname : QC.String.escHTML(oInfo.nickname), //做xss过滤
                                    figureurl : oInfo.figureurl
                                })
                        );
                        window.location.href = '/';
                    }else if(code == 302) {
                        $('.warning').html('您的信息不存在，请先注册审核').css('display','block');
                    }
                });
            });
        }
    };

    QC.Login({
        btnId:"qqLoginBtn"    //插入按钮的节点id
    },cbLoginFun,cbLogoutFun);
</script>
<%- include ../include/footer.html%>
</body>
</html>
