<%- include ../include/header.html%>
<style>
    body {
        background: #eee;
        word-wrap: break-word;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
</style>
<div class="container">
    <div class="es-section login-section">
        <div class="logon-tab clearfix">
            <a href="/users/login">登录帐号</a>
            <a class="active">注册帐号</a>
        </div>
        <div class="reg loginp">
            <span id="qqRegBtn"></span>
        </div>
    </div>
    <span style="display: none;color: #ff0000;" class="warning"></span>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101307254"  charset="utf-8" ></script>
<script type="text/javascript">
    check();
    function check(){
        login(getInfo());
    }
    function login(callback){
        QC.Login({
            btnId : "qqRegBtn",//插入按钮的html标签id
            size : "A_XL",//按钮尺寸
            scope : "get_user_info,add_share,permission_weibo,add_topic,add_one_blog,list_album,upload_pic,add_album,check_page_fans",//展示授权，全部可用授权可填 all
            display : "pc"//应用场景，可选
        },callback);
    }
    function getInfo(){
        console.log('getInfo');
        QC.api("get_user_info")
                .success(function(s){//成功回调
                    console.log("获取用户信息成功！当前用户昵称为："+s.data.nickname);
                })
                .error(function(f){//失败回调
                    console.log("获取用户信息失败！");
                })
                .complete(function(c){//完成请求回调
                    console.log(c.data);
                    QC.Login.getMe(function(openId, accessToken){
                        c.data.openId = openId;
                        var urltest = '/users/reg';
                        $.post(urltest,c.data,function(data){
                            console.log(data);
                        });
                    });
                    console.log("获取用户信息完成！");
                });
    }
</script>
<%- include ../include/footer.html%>
</body>
</html>
